.DIVheading {
    text-align: center;
}

.subHeading {
    display: block;
    padding: 10px;
}

.comments {
    display: inline-block;
    box-sizing: border-box;
    width: 48%;
    float: left;
    margin-left:2%;
}

.divHeader {
    text-align: center;
}

.otherVideos {
    display: inline-block;
    box-sizing: border-box;
    width: 48%;
    float: right;
}

.details {
    width: 80%;
    margin: 0 auto;
}

.commentButton {
    display: block;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .comments {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    .otherVideos {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
}