.vid-list {
    width: 80%;
    margin: 30px auto;

}

.galleryItem {
    color: #363437;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
    width: 40%;
    height: 20%;
    margin:  2% 2% 10px 2%;
    box-shadow: -10px 12px 10px 8px rgba(0, 0, 25, .6);
}

.galleryItem h3 {
    text-transform: uppercase;
}

.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    margin: 0 auto;
}

.mainHeader {
    border: 1px solid blue;
    width: 100%;
    background-color: #9da2ad;
    margin-bottom: 30px;
}
.mainTitle {
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: white;
}

.subText {
    text-align: center;
    display: block;
    color: whitesmoke;
}

.searchForm Button {
    margin-left: 10px;
}

.searchHelp {
    color : #413fd6;
}

.searchInput {
    height: 60px;
}

.searchForm {
    margin-left: 30px;
}

.video-container {
    width: 80%;
    border: 4px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-radius: 15%;
    padding: 5px;
    /*box-shadow: 15px -10px rgba(30, 8, 108, 0.45);*/
}

.video-panel {
    width: 80%;
    height: 400px;
    margin: 10px 10%;
}

.prev-button {
    float: left;
}

.next-button {
    float: right;
}

.not-found {

}

.not-found h2, p {
    text-align: center;
}

.not-found-img {
    width : 60%;
    height : 60%;
    margin: 0 auto;
    display: block;
}

/*================================================================
BREAKPOINTS
=================================================================*/
/* MEDIA QUERIES*/
@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    .galleryItem {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .galleryItem {width: 45%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .galleryItem {width: 46%;}
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .galleryItem {width: 96%;}
    .galleryItem img {width: 96%;}
    .galleryItem h3 {font-size: 18px;}
    .galleryItem p {font-size: 18px;}
}